<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>

        <link rel="stylesheet" href="../css/estilos-productDetail.css">

        <title>Editar Actividades</title>

        <style>
            main {
                margin: 20px;
            }
        </style>
</head>

<body>


    <body>
        <%- include ('../partials/header.ejs')%>
            <%- include ('../partials/main-header.ejs')%>

                <main>

                    <H1>Pagina de Edicion de Actividades</H1>
                    <br><br><br>
                    <h2>Modificacion de Actividades</h2>
                    <br>
                    <form action="/productEdit" method="POST">
                        <label for="typeProd">Tipo de Actividad</label>
                        <select class="inputEditProdType" name="type">
                            <% let prodTypes=['Encuentros','Cursos','Clases','Festividades','Viajes' ] %>
                                <% for (let valueProd of prodTypes) {%>
                                    <option 
                                        value="<%= valueProd %>" 
                                        <%= productToEdit.tipoActividad == valueProd ? "selected" : ""%>>
                                        <%= valueProd %>
                                    </option>
                                    <% } %>
                        </select>
                        <br>
                        <label for="nameProd">Nombre de la Actividad</label>
                        <input type="text" name="nameProd" id="nameProd" value="<%=productToEdit.nombreActividad%>">
                        <br>
                        <label for="nameProd">Destacado</label>
                        <select name="destacado" id="destacado">
                            <option value="SI" <%=productToEdit.destacado=="SI" ? "selected" : "" %>>
                            </option>
                            <option value="NO" <%=productToEdit.destacado=="NO" ? "selected" : "" %>>
                            </option>
                        </select>
                        <br>

                        <label for="dateProd">Fecha de la Actividad</label>
                        <input type="date" name="dateProd" value='<%=productToEdit.fechaActividad %> '>
                        <br>
                        <label for="timeProd">Hora de la Actividad</label>
                        <input type="time" name="timeProd" value='<%=productToEdit.horaActividad %> '>
                        <br>
                        <label for="costProd">Costo de la Actividad</label>
                        <input type="number" name="costProd" value='<%=productToEdit.costoActividad %> '>
                        <br>
                        <label for="imageProd">Imagen o Flyer de la Actividad</label>
                        <img width="100%" src="<%=productToEdit.imagenActividad %> " alt="<%=productToEdit.photo_name %>">
                        <input type="file" name="imageProd" accept=".jpg,.png,.gif">
                        <br>
                        <button type="submit">MODIFICAR</button>
                    </form>
                    <br><br><br>
                </main>



                <footer>
                    <%- include ('../partials/footer.ejs')%>
                </footer>
    </body>


</body>

</html>