<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>

        <link rel="stylesheet" href="../css/estilos-productDetail.css">

        <title>Detalle de Actividades</title>
</head>

<body>
    <%- include ('../partials/header.ejs')%>
        <%- include ('../partials/main-header.ejs')%>

            <main>
                <section class="detalleArt">
                    <div class="titulo">

                        <h3 class="titulo-text"><%= productToShow.nombreActividad%></h3>
                    </div>
                    <article class="articulo">
                        <img src="<%= productToShow.imagenActividad%>" alt="amasado" width="100%">
                    </article>
                </section>
                <section class="descrArt2">
                    <h3 class="descrArtTitulo">
                        Descripción
                    </h3>
                    <p><%= productToShow.descripcionActividad%>
                    </p>
                </section>
                <section class="main-body">
                    <section class="priceArt">
                        <div class="precio">
                            <h4 class="precioTitulo">Costo</h4>
                            <p class="precioP">Colaboración sugerida <%= productToShow.costoActividad%></p>
                            <select class="precioArt" name="precioArt" id="precioArt">
                                <option class="precioPBox1" value=<%= productToShow.costoActividad%> selected><%= productToShow.costoActividad%></option>
                                <option class="precioPBox2" value="other">Otro valor</option>
                                <input class="precioArtInput" type="text" placeholder=" Ingrese valor">
                            </select>
                        </div>
                        <br><br>
                        <div class="precio">
                            <h4 class="precioTitulo">Para agendar</h4>
            
                            <div class="agendar">
                            <p class="precioP">Fecha: <%= productToShow.fechaActividad%></p>
                            <p class="precioP">Hora: <%= productToShow.horaActividad%></p>
                        </div>
                        </div>
                        <div class="oferta">
                            <h4 class="ofertaTitulo"></h4>
                            <p class="ofertaP">Aceptamos tarjetas de crédito, débito, mercado pago y efectivo.
                                Consulte por otros
                                medios de pago</p>
                        </div>
                    </section>
                    <section class="actionsArt">
                        <div class="botonesArt">
                            <button class="buttonArt"><a href="">Inscribirse Ahora</a></button>\
                            <form action="">
                            <button class="buttonArt"><a href="">Agregar al Carrito</a></button>
                        </form>
                        </div>
                        <div class="accionesArt">
                            <div class="favoritos">
                                <i class="far fa-heart"></i>
                                <a href=""><p>Agregar a favoritos</p></a>
                            </div>
                            <div class="compartir">
                                <i class="fas fa-share-alt"></i>
                                <a href=""><p>Compartir</p></a>
                            </div>
                        </div>
                    </section>
                    <br><br>
                    <section class="actionsArt">
                        <div class="botonesArt">
                            <% let rutaEdit = "/productEdit/" + productToShow.id   %> 
                            <button class="buttonArt"><a href=<%=rutaEdit %> > Editar la actividad</a></button>
                            <form action="<% rutaEdit %> "></form>
                            <button class="buttonArt"><a href="">Eliminar la actividad</a></button>
                        </div>
                    </section>
                    <section class="descrArt">
                        <h3 class="descrArtTitulo">
                            Descripción
                        </h3>
                        <p><%= productToShow.descripcionActividad%>
                        </p>
                    </section>
                </section>
                <section>
                    <h3 class="footerTitulo">
                        Esto también te puede interesar
                    </h3>
                </section>

                <footer class="footerArt">
                    <% if (products != undefined) { %> 
                    <% products.forEach (product => { %> 
                        
                    <img src=<%= product.imagenActividad %>  alt=<%= product.photo_name %>  width="100%">
                    <% })} %> 
                </footer>
            </main>
            <footer>
                <%- include ('../partials/footer.ejs')%>
            </footer>
</body>

</html>