<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>
        <link rel="stylesheet" href="../css/estilos-cart.css">
        <title>Carrito</title>
</head>

<body class="tipografia">
    <headerLogin class="encabezado">
        <p class="bh">B"H</p>
        <a href="/"><img src="/images/logotransp.png" alt="logo JABA" class="logoLogin" width="50%"></a>




    </headerLogin>
    <main>
        <% let subtotal = "0"%> 
        <section class="principal">

            <div class="xDiv">
                <button>
                    <input type="button" onclick="history.back()" name="volver atrás" value=" x " class="cerrarVentana">
                </button>
            </div>
            <h2 class="titulo">CARRITO DE SUSCRIPCIONES</h2>


            <% cart.forEach (product=>{ %>

                
                <% subtotal = Number(subtotal) + Number(product.costoActividad) %> 

                <div class="carritoProd">
                    <div class="carritoTypeDiv">
                        <i class="<%=product.iconoTipoAct%>"></i>
                        <p class="carritoType"><%=product.tipoActividad %> </p>
                    </div>
                    <div class="carritoNameDiv">
                        <h2><%=product.nombreActividad %> </h2>
                    </div>
                    <div class="carritoDetailsDiv">
                        <div class="carritoDetail"><%=product.fechaActividad %> </div>
                        <div class="carritoDetail"><%=product.horaActividad %> </div>
                        <div class="carritoDetail"><%=product.costoActividad %> </div>
                    </div>
                    <br>
                    
                </div>
                <br>

               <% }) %>

        </section>
        <section class="principal">
            <div class="carritoSubto">
                <h2>Subtotal</h2>
                <h3>$ <%=subtotal %> </h3>
            </div>
        </section>
    </main>
</body>

</html>