<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>

        <link rel="stylesheet" href="../css/styles.css">
        <title>Bienvenidos a JABA</title>

</head>

<body>
    <main>
        <%- include ('../partials/header.ejs')%>
            <%- include ('../partials/main-header.ejs')%>

                <h1>Bienvenido a JABA</h1>

                <div class="contenedor-mayor">
                    <div class="slider">
                        <ul>
                            <li>
                                <div class="txt">
                                    <h4> Experimeta, disfruta, conocé </h4>
                                    <br>
                                    <p> "Actividades sociales, para compartir un espacio ameno entre amigos, en un
                                        marco de
                                        Iahadut"</p>
                                </div>
                                <img src="/images/actividad.jpg" alt="">
                            </li>


                            <li><img src="/images/estudio-con-rab.jpg" alt="">
                                <div class="txt">
                                    <h4>Alimenta tu Neshamá</h4>
                                    <p>"Progamas de estudios pensados para cada uno en particular.
                                        Participá como te sea mas cómodo, online o presencial, en grupo o
                                        personalizado. "
                                    </p>
                                </div>
                            </li>


                            <li>
                                <div class="txt">
                                    <h4> "Haz de tu hogar una morada para Hashem"</h4>
                                    <p> Te preparamos para que llegues a este dia tan especial con santidad y
                                        plenitud.
                                        Los acompañamos en la formacion de su hogar con charlas y actividades
                                        exclusivas para
                                        parejas como ustedes.
                                    </p>
                                </div>
                                <img src="/images/jupa.jpg" alt="">
                            </li>


                            <li><img src="/images/roshana.webp" alt="">
                                <div class="txt">
                                    <h4>viaja por el año</h4>
                                    <p> LLega preparado a cada festividad. Historia, costumbres, fechas, recetas..
                                    </p>
                                </div>
                            </li>


                            <li>
                                <div class="txt">
                                    <h4>Rama femenina</h4>
                                    <p> Seccion inspirada exclusivamente para ellas. Estudio, paseos, cocina, arte..
                                    </p>
                                </div>
                                <img src="/images/shiur-casadas.jpg">
                            </li>

                        </ul>
                    </div>

                    <div class="lateral-izq">
                        <section class="datos-semanales2">
                            <img src="/images/velas.webp" alt="velas" class="img-velas">
                            <p class="semana-parshe">Semana Parshat Reé</p>
                            <p class="semana">Horario encendido de Velas</p>
                            <p class="semana">18:00hs</p>
                        </section>
                        <section class="cronograma">
                            <h3>Cronograma semanal</h3>
                            <a href=""></a><img src="/images/jaguim.jpg" alt="cronograma" class="img-cronograma">
                        </section>
                        <section class="destacados-de-la-semana">
                            <h3> Destacados de la semana</h3>
                                    
                                        <% if (products != undefined) { %> 
                                            <% products = products.filter (product => product.destacado == "si") %>
                                            <% productsDestacadosCinco = products.slice (-3) %>
                                            <% productsDestacadosCinco.forEach (product => { %> 
                                         
                                        <div class="curso1">
                                            
                                                <div class="amasado">
                                                    <% let rutaDetail = "/productDetail/" + product.id  %> 
                                                     <a href=<%= rutaDetail %> >
                                                      <img src= <%=product.imagenActividad %>  alt="">
                                                    </a>
                                            </div>
                                            
                                            <div class="info">
                                                
                                                <i class=" <%= product.iconoTipoAct %>"></i>
                                                <h4><%= product.nombreActividad %> </h4>
                                                <p class="detalles"><%= product.tipoActividad %></p>
                                                <p class="Fecha"><%= product.fechaActividad %>  </p>
                                                <p class="horario"> <%= product.horaaActividad %></p>
                                               
                                            </div>
                                        
                                    </div>
                                <% })} %> 
                                                     
                        </section>
                    </div>
                </div>

                <section class="scroll-fotos">
                    <a href="/productList/All"><marquee direction="right" scrollamount=20 behavior=alternate>
                        <img src="/images/cena-mujeres.jpg" alt="">
                        <img src="/images/charla-parejas.jpg" alt="">
                        <img src="/images/estudio-con-rab.jpg" alt="">
                        <img src="/images/januka-calle.jpg" alt="">
                        <img src="/images/jupa.jpg" alt="">
                        <img src="/images/shiur.jpg" alt="">
                        <img src="/images/purim-magia.jpg" alt="">
                        <img src="/images/viaje.jpg" alt="">
                        <img src="/images/mezuza.jpg" alt="">
                        <img src="/images/peguisha2.jpg" alt="">
                    </marquee></a>

                </section>


</body>
</main>

<%- include ('../partials/footer.ejs')%>

</html>